

body {
    
    background: linear-gradient(45deg, #F9F54B, #8BF5FA);
    font-family: 'Roboto', sans-serif;
    
}


a { 
    color: inherit;
 } 



.nav-link{
    font-size: 18px;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
    
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    margin-top: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#testimonials{
    margin-bottom: 0px;
}
#press{
    background-color: white;
}
.hero{
    background-color: white;
}
#certificado{
    font-weight: bold;
    padding-top: 5%;
}
#Clientes{
    font-weight: bold;
    font-size: 30px;
}
.prioridades{
    padding-left: 7%;
    padding-bottom: 5%;
}
.features{
    text-align: center;
}
.featureImages{
    padding-bottom: 5%;
}
#cta{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    
}
.grayscale {
    padding:1px;
   border:1px solid #021a40;
  }
  .fire-logo{
    padding-right: 10px;
}
.footer-text{
    font-family: "Montserrat" sans-serif;
    font-weight: 900;
    font-size: 3rem;
}
.footer-icons{
    margin: 10px;
}
.copyright{
    padding-right: 7%;
}
